{% extends 'base.html' %}
{% load i18n %}
{% load auth_extras %}
{% block content %}
{% if user.is_authenticated %}
{% if user.is_superuser %}
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_usuarios' %}"
	role="button">
	{% trans "Users" %}
</a>
{% endif %}
{% if request.user.is_superuser or request.user|has_group:"gestor_puerto" %}
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_amarres' %}"
	role="button">
	{% trans "Moorings" %}
</a>
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_puertos' %}"
	role="button">
	{% trans "Ports" %}
</a>
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_distancias' %}"
	role="button">
	{% trans "Distances" %}
</a>
{% endif %}
{% if request.user.is_superuser or request.user|has_group:"gestor_combustible" %}
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_combustibles' %}"
	role="button">
	{% trans "Fuels" %}
</a>
{% endif %}
{% if request.user.is_superuser or request.user|has_group:"gestor_prediccion" %}
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_predicciones' %}"
	role="button">
	{% trans "Forecasts" %}
</a >
{% endif %}
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'list_embarcaciones' %}"
	role="button">
	{% trans "My Boats" %}
</a>
<a class="btn btn-primary btn-block"
	align="center" 
	href="{%url 'search_mooring' %}"
	role="button">
	{% trans 'Search Mooring' %}
</a>
{% endif %}
{% endblock %}                                   
