{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>Puertos</h1>
    {% if object_list %}
    <p>There are ports.</p>
    <table class="table table-striped">                                 
      <tr><th>Nombre</th><th>Latitud</th><th>Longitud</th></tr>   
      {% for port in object_list %}                                 
      <tr>                                                     
        <td>{{ port.nombre }}</td>                             
        <td>{{ port.latitud}}</td>                             
        <td>{{ port.longitud}}</td>                             
        <td>                                                    
          <form role="form" id="puertos_form" method="post" action="{% url 'puertos' %}">
            {% csrf_token %}                                
            <input type="hidden" name="pk" value={{port.pk}}></input>
	    {% if perms.amarreapp.change_puerto %}
            <input type="submit" name="order" class="btn btn-sm btn-danger" value="edit"></input>
	    {% endif %} 
	    {% if perms.amarreapp.delete_puerto %}
            <input type="submit" name="order" class="btn btn-sm btn-danger" value="delete"></input>
	    {% endif %} 
          </form>                                             
        </td>                                                   
      </tr>                                                       
      {% endfor %}                                                    
    </table>           
    {% else %}
      <p>There are no ports.</p>
    {% endif %} 
    {% if perms.amarreapp.add_puerto %}
    <form role="form" id="puertos_form" method="post" action="{% url 'puertos' %}">
    {% csrf_token %}
	  <button class="btn btn-primary btn-block"  align="center" 
		  type="submit" name="order" value="Add">
	    {% trans 'Add' %}
	  </button>
    </form>
    {% endif %} 
{% endblock %}
