{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
<form class="form-horizontal" role="form" method="post" action="">
  {% csrf_token %}
  <!--{% bootstrap_form form layout='horizontal' %} -->
  {% bootstrap_form_errors form type='non_fields' %}
  {% bootstrap_field form.username layout='horizontal' %}
  {% bootstrap_field form.password layout='horizontal' %}
  {% bootstrap_field form.first_name layout='horizontal' %}
  {% bootstrap_field form.last_name layout='horizontal' %}
  {% bootstrap_field form.email layout='horizontal' %}
  {% bootstrap_field form.is_superuser layout='horizontal' %}
  {% bootstrap_field form.groups layout='horizontal' %}
  <div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <button type="submit" name="order" value="Save"    
              class="btn btn-primary" id="submit-id-order">
        {% trans 'Save' %}
      </button>
    </div>
  </div>
</form>
{% endblock %}
